extends layout

block content
	h1 #{title}
	form(id ="login", method ="post", action="/login")
		input(type="text", name="username", placeholder="Username")
		input(type="password", name="password", placeholder ="Password")
		input(id="SignIn", type="submit", value="SignIn")
